# Análise dos dados de Desmatamento da Amazônia Legal

A Amazônia Legal é uma área que engloba nove estados do Brasil pertencentes à bacia Amazônica e à área de ocorrência das vegetações amazônicas. O governo federal, reunindo regiões de idênticos problemas econômicos, políticos e sociais, com o intuito de melhor planejar o desenvolvimento social e econômico da região amazônica, instituiu o conceito de "Amazônia legal".

A atual área de abrangência da Amazônia Legal corresponde à totalidade dos estados do Acre, Amapá, Amazonas, Mato Grosso, Pará, Rondônia, Roraima e Tocantins e parte do estado do Maranhão (a oeste do meridiano de 44º de longitude oeste), perfazendo uma superfície de aproximadamente 5 217 423 quilômetros quadrados correspondente a cerca de 61% do território brasileiro. Sua população, entretanto, corresponde a 12,32% do total de habitantes do Brasil.

Nela, vivem em torno de 23 milhões de pessoas, segundo o censo 2010, distribuídas em 775 municípios, nos estados do Acre, Amapá, Amazonas, Mato Grosso, Pará, Rondônia, Roraima, Tocantins (98% da área do estado), Maranhão (79%) e Goiás (0,8%). Além de conter 20% do bioma cerrado, a região abriga todo o bioma Amazônia, o mais extenso dos biomas brasileiros, que corresponde a 1/3 das florestas tropicais úmidas do planeta, detém a mais elevada biodiversidade, o maior banco genético e 1/5 da disponibilidade mundial de água potável.[1]

Nos nove estados da Amazônia Legal, residem 55,9% da população indígena brasileira, ou seja, cerca de 250 mil pessoas, segundo o Sistema de Informação da Atenção à Saúde Indígena (SIASI) em abril de 2005 da Fundação Nacional de Saúde (FUNASA). A região abrange 24 dos 34 distritos sanitários especiais indígenas mantidos pela FUNASA e com uma grande diversidade étnica (cerca de 80 etnias).

Fonte: https://pt.wikipedia.org/wiki/Amazônia_Legal

Imagem

Fonte: https://imazon.org.br/mapas/amazonia-legal/

## Pré-processamento

Pare esse exercício serão disponibilizados três arquivos: ***amazonas.csv*** que contém dados históricos de desflorestamento nos municipios do Amazonas no ano de 2014, ***estados.csv*** que contém uma lista com o nome, uf e codigo dos estados brasileiros e ***municipios.csv*** que contém o nome de todos os municípios brasileiros e suas respectivas localizações no globo (longitude e latitude).

O objetivo do exercício é gerar um relatório sobre o desflorestamento nos municípios do Amazonas com a visualização dos dados sobre o mapa do Brasil.
Para isso será necessário relacionar ambas as três tabelas de forma que seja associado a posição geográfica (longitude e latitude) dos municípios aos dados de desflorestamento.

In [83]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#biblioteca para plotar no mapa
import mplleaflet

In [123]:
#Importanto dados de desmatamento da amazônia legal de 2000 a 2018
amazonialegal2000_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2000.txt", sep=',', encoding='iso-8859-1')
amazonialegal2001_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2001.txt", sep=',', encoding='iso-8859-1')
amazonialegal2002_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2002.txt", sep=',', encoding='iso-8859-1')
amazonialegal2003_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2003.txt", sep=',', encoding='iso-8859-1')
amazonialegal2004_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2004.txt", sep=',', encoding='iso-8859-1')
amazonialegal2005_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2005.txt", sep=',', encoding='iso-8859-1')
amazonialegal2006_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2006.txt", sep=',', encoding='iso-8859-1')
amazonialegal2007_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2007.txt", sep=',', encoding='iso-8859-1')
amazonialegal2008_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2008.txt", sep=',', encoding='iso-8859-1')
amazonialegal2009_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2009.txt", sep=',', encoding='iso-8859-1')
amazonialegal2010_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2010.txt", sep=',', encoding='iso-8859-1')
amazonialegal2011_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2011.txt", sep=',', encoding='iso-8859-1')
amazonialegal2012_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2012.txt", sep=',', encoding='iso-8859-1')
amazonialegal2013_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2013.txt", sep=',', encoding='iso-8859-1')
amazonialegal2014_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2014.txt", sep=',', encoding='iso-8859-1')
amazonialegal2015_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2015.txt", sep=',', encoding='iso-8859-1')
amazonialegal2016_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2016.txt", sep=',', encoding='iso-8859-1')
amazonialegal2017_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2017.txt", sep=',', encoding='iso-8859-1')
amazonialegal2018_df = pd.read_csv("./Desmatamento Amazonia Legal/DesmatamentoMunicipios2018.txt", sep=',', encoding='iso-8859-1')

In [124]:
#Importanto dados do ibge de estados e municípios
amazonas2014_df = pd.read_csv("amazonas.csv")
estados_df = pd.read_csv("estados.csv")
municipios_df = pd.read_csv("municipios.csv")

Vamos da uma olhada no jeito de cada tabela

In [85]:
amazonas2014_df

,Municípios,Agricultura Anual,Área não Observada,Área Urbana,Desflorestamento 2014,Floresta,Hidrografia,Mineração,Mosaico de Ocupações,Não Floresta,Outros,Pasto com Solo Exposto,Pasto Limpo,Pasto Sujo,Reflorestamento,Regeneração com Pasto,Vegetação Secundária,Total Geral
0,Alvaraes,NaN,0.07,1.90,2.75,"5,415.56",133.87,NaN,101.08,43.26,5.36,NaN,2.92,1.02,NaN,5.13,198.55,"5,911.46"
1,Amatura,NaN,NaN,2.05,0.36,"4,220.22",209.41,NaN,15.87,216.55,3.76,NaN,4.03,NaN,NaN,11.44,71.74,"4,755.42"
2,Anama,NaN,0.86,0.89,0.44,"2,001.85",229.30,NaN,6.90,34.81,13.11,NaN,2.02,0.87,NaN,NaN,160.61,"2,451.66"
3,Anori,NaN,0.15,2.77,0.59,"4,646.53",436.07,NaN,17.12,636.01,4.70,NaN,8.05,0.52,NaN,NaN,41.98,"5,794.49"
4,Apui,NaN,6.71,5.91,80.19,"51,396.43",213.50,NaN,8.76,622.87,7.18,NaN,812.61,329.85,NaN,208.13,546.18,"54,238.32"
5,Atalaia do Norte,NaN,10.99,2.99,0.70,"75,692.73",396.05,NaN,12.84,15.57,2.18,NaN,NaN,NaN,NaN,11.28,187.54,"76,332.86"
6,Autazes,NaN,24.24,4.58,8.35,"4,864.85","1,124.54",NaN,137.82,468.41,139.76,NaN,248.64,38.05,NaN,90.23,451.25,"7,600.72"
7,Barcelos,NaN,0.23,4.27,1.91,"100,948.88","4,464.66",0.01,25.66,"16,837.56",5.68,NaN,1.32,0.10,NaN,4.84,146.95,"122,442.07"
8,Barreirinha,NaN,65.07,6.40,4.46,"3,605.04",975.48,NaN,84.83,408.36,59.38,NaN,124.85,14.63,NaN,55.33,347.03,"5,750.86"
9,Benjamin Constant,NaN,29.04,10.47,0.31,"8,411.90",200.93,NaN,35.75,0.04,3.35,NaN,0.75,1.17,NaN,0.88,97.10,"8,791.69"
10,Beruri,NaN,1.04,3.44,2.29,"15,584.50",577.91,NaN,14.26,873.43,9.18,NaN,11.06,0.68,NaN,0.08,173.09,"17,250.95"
11,Boa Vista do Ramos,NaN,11.70,1.83,1.01,"1,119.42",413.95,NaN,34.48,851.93,15.04,NaN,10.57,2.85,NaN,28.90,91.61,"2,583.30"
12,Boca do Acre,NaN,17.96,5.49,71.96,"19,542.90",143.16,1.90,47.57,61.64,17.49,NaN,"1,040.03",315.60,NaN,241.86,438.78,"21,946.33"
13,Borba,NaN,3.15,14.60,1.44,"41,286.75","1,867.25",NaN,89.50,583.91,35.41,NaN,14.01,3.94,NaN,20.15,322.93,"44,243.03"
14,Caapiranga,NaN,9.68,2.89,0.76,"8,619.87",432.67,0.01,11.09,181.34,42.79,NaN,5.42,0.25,NaN,9.71,144.23,"9,460.72"
15,Canutama,NaN,5.97,3.30,16.62,"27,529.67",295.98,NaN,38.65,972.93,18.98,0.85,161.26,236.60,NaN,168.53,364.64,"29,813.98"
16,Carauari,NaN,0.15,5.93,1.05,"25,084.19",391.37,NaN,27.54,12.81,10.37,NaN,39.81,3.90,NaN,17.94,175.89,"25,770.94"
17,Careiro,NaN,67.07,4.59,0.53,"4,593.12",422.06,NaN,77.71,72.40,204.25,NaN,113.83,17.29,NaN,69.25,449.79,"6,091.88"
18,Careiro da Varzea,NaN,23.89,0.28,2.71,766.21,649.15,NaN,8.61,723.13,129.07,NaN,120.12,13.96,NaN,86.45,105.43,"2,629.00"
19,Coari,NaN,0.37,12.90,3.25,"53,623.67","2,746.07",NaN,85.46,811.85,21.69,NaN,7.23,0.49,NaN,0.56,605.20,"57,918.73"
20,Codajas,0.02,0.00,2.51,2.98,"16,314.98","1,457.35",NaN,12.39,688.14,6.84,NaN,8.04,0.42,NaN,NaN,219.21,"18,712.88"
21,Eirunepe,NaN,1.26,9.89,2.40,"14,304.15",181.76,NaN,57.82,165.10,6.42,NaN,76.41,10.03,NaN,16.53,179.62,"15,011.37"
22,Envira,NaN,7.02,5.01,7.45,"7,172.22",63.28,NaN,24.09,0.11,3.94,NaN,75.67,24.54,NaN,25.21,93.94,"7,502.48"
23,Fonte Boa,NaN,NaN,4.83,1.00,"11,049.62",815.39,NaN,8.17,150.43,5.33,NaN,1.25,0.48,NaN,4.08,68.71,"12,109.28"
24,Guajara,NaN,0.74,2.66,1.12,"6,915.13",10.46,NaN,30.59,197.14,4.91,NaN,166.98,51.86,NaN,33.59,163.16,"7,578.34"
25,Humaita,0.02,10.24,2.08,13.95,"28,496.19",783.77,NaN,73.40,"3,087.09",18.43,NaN,123.49,37.74,NaN,64.73,356.43,"33,067.55"
26,Ipixuna,NaN,0.46,2.89,1.07,"11,692.44",69.08,NaN,19.75,64.38,2.28,NaN,45.68,25.90,NaN,16.96,103.48,"12,044.38"
27,Iranduba,0.30,1.89,33.64,2.24,"1,295.24",322.64,0.39,99.93,132.02,43.20,0.07,35.40,9.29,NaN,36.15,202.81,"2,215.20"
28,Itacoatiara,0.00,151.70,16.14,5.54,"4,644.79","1,770.43",0.03,252.06,861.47,182.12,0.33,245.05,23.03,NaN,54.02,689.04,"8,895.72"
29,Itamarati,NaN,0.49,1.74,2.45,"24,866.50",283.51,NaN,19.06,3.01,3.90,NaN,14.24,0.29,NaN,4.23,80.04,"25,279.46"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Jurua,NaN,1.81,2.58,1.81,"18,400.39",713.44,NaN,16.12,140.08,5.38,NaN,3.03,1.50,NaN,4.22,109.45,"19,399.80"
33,Jutai,NaN,0.10,3.63,1.61,"68,099.67","1,126.45",NaN,11.38,96.79,14.51,NaN,13.55,0.98,NaN,5.74,177.99,"69,552.40"
34,Labrea,NaN,23.97,11.94,130.13,"62,531.60",443.40,2.25,33.18,"1,765.98",17.26,NaN,"2,152.30",160.58,NaN,151.93,808.59,"68,233.10"
35,Manacapuru,NaN,15.64,14.37,3.04,"4,332.40","1,459.87",0.86,102.85,798.49,189.59,NaN,55.82,8.25,NaN,25.91,320.51,"7,327.60"
36,Manaquiri,NaN,17.31,1.51,0.14,"3,088.33",341.04,NaN,35.82,105.94,122.31,NaN,27.09,2.10,NaN,6.97,225.88,"3,974.45"
37,Manaus,78.19,10.81,343.40,2.11,"8,612.34","1,580.05",16.89,189.81,2.44,38.47,NaN,38.14,11.65,NaN,21.40,458.73,"11,404.42"
38,Manicore,0.04,14.73,12.43,29.78,"41,617.44",825.18,NaN,98.19,"4,135.80",100.05,0.09,509.92,109.89,NaN,102.13,725.68,"48,281.37"
39,Maraa,NaN,NaN,2.02,1.68,"14,400.01","1,799.86",NaN,21.59,592.76,1.50,NaN,2.57,0.17,NaN,6.13,77.42,"16,905.71"
40,Maues,2.55,10.27,6.41,13.87,"36,472.52","1,379.53",6.70,208.79,867.52,57.10,0.01,99.02,46.43,NaN,32.87,767.39,"39,970.97"
41,Nhamunda,NaN,51.31,1.22,2.32,"12,140.99","1,109.11",NaN,62.68,342.90,15.53,NaN,68.65,19.34,NaN,20.91,238.43,"14,073.40"
42,Nova Olinda do Norte,NaN,0.63,4.03,1.14,"4,473.84",475.04,NaN,83.87,281.93,26.77,NaN,24.61,4.39,NaN,6.83,224.66,"5,607.75"
43,Novo Airao,NaN,0.15,3.73,0.86,"36,114.27","1,327.87",NaN,15.19,210.03,10.44,NaN,7.36,1.38,NaN,4.59,66.02,"37,761.89"
44,Novo Aripuana,NaN,26.10,5.58,22.55,"37,840.85",766.01,10.85,23.54,"1,614.89",42.87,NaN,296.89,62.84,NaN,50.26,425.68,"41,188.92"
45,Parintins,NaN,76.59,2.62,4.24,"1,568.15","2,378.95",NaN,114.56,"1,056.57",19.95,NaN,163.48,44.84,NaN,79.20,438.31,"5,947.48"
46,Pauini,NaN,1.42,1.82,9.47,"41,087.97",257.55,NaN,25.12,23.42,5.19,NaN,69.08,12.72,NaN,9.05,107.74,"41,610.56"
47,Presidente Figueiredo,43.24,108.70,11.63,6.21,"21,281.25","3,408.07",1.48,61.46,0.98,13.44,0.02,60.55,39.79,3.01,31.84,354.03,"25,425.71"
48,Rio Preto da Eva,0.83,14.53,15.91,1.11,"5,231.90",16.78,0.88,132.48,NaN,5.22,NaN,34.21,6.54,6.19,17.86,326.13,"5,810.56"
49,Santa Isabel do Rio Negro,NaN,2.38,3.04,0.91,"61,070.69",622.20,NaN,31.59,939.92,6.60,NaN,4.36,0.74,NaN,3.85,151.05,"62,837.32"
50,Santo Antonio do Ica,NaN,0.04,7.88,0.80,"11,649.37",439.80,NaN,33.82,89.28,4.78,NaN,3.11,2.32,NaN,4.62,73.77,"12,309.60"
51,Sao Gabriel da Cachoeira,NaN,45.37,20.77,1.82,"106,052.38","1,472.95",NaN,188.04,477.72,13.79,NaN,3.14,1.03,NaN,17.31,857.83,"109,152.15"
52,Sao Paulo de Olivenca,NaN,1.47,7.09,1.00,"18,927.02",568.89,NaN,41.42,82.86,7.92,NaN,4.23,5.86,NaN,10.57,90.45,"19,748.77"
53,Sao Sebastiao do Uatuma,NaN,12.82,3.28,3.78,"9,830.42",638.47,0.14,27.79,65.44,3.49,NaN,60.60,7.31,NaN,8.61,77.24,"10,739.39"
54,Silves,NaN,58.71,2.01,0.54,"2,588.26",626.26,NaN,53.68,133.09,67.18,NaN,31.00,1.04,NaN,16.53,168.40,"3,746.72"
55,Tabatinga,NaN,5.46,15.95,1.72,"3,013.65",53.57,NaN,38.30,1.18,8.35,NaN,0.77,8.38,NaN,0.08,74.91,"3,222.33"
56,Tapaua,NaN,0.69,3.32,2.99,"85,391.65","1,488.19",NaN,25.96,"2,124.44",7.94,0.07,21.73,6.88,NaN,9.07,242.40,"89,325.33"
57,Tefe,0.00,0.35,11.60,8.79,"22,189.29",719.59,NaN,147.59,163.90,7.34,NaN,5.53,2.40,NaN,8.48,439.55,"23,704.42"
58,Tonantins,NaN,NaN,3.91,0.36,"5,976.36",308.81,NaN,27.63,65.34,1.94,NaN,1.49,2.43,NaN,1.30,41.71,"6,431.27"
59,Uarini,NaN,0.21,2.45,3.46,"9,466.29",433.31,NaN,84.81,99.22,1.26,NaN,0.42,NaN,NaN,3.72,149.20,"10,244.35"
60,Urucara,NaN,15.98,4.11,1.45,"26,495.54",656.25,1.78,55.89,422.64,8.52,NaN,58.12,7.73,NaN,8.78,161.54,"27,898.33"
61,Urucurituba,NaN,3.49,2.63,0.62,130.20,"1,002.16",0.03,13.84,"1,686.88",8.54,NaN,15.76,4.08,NaN,0.61,40.67,"2,909.51"

In [86]:
estados_df.head()

   codigo_uf  uf      nome
0         11  RO  Rondônia
1         12  AC      Acre
2         13  AM  Amazonas
3         14  RR   Roraima
4         15  PA      Pará

In [87]:
municipios_df.head()

   codigo_ibge                 nome  latitude  longitude  capital  codigo_uf
0      5200050      Abadia de Goiás -16.75730   -49.4412        0         52
1      3100104  Abadia dos Dourados -18.48310   -47.3916        0         31
2      5200100            Abadiânia -16.19700   -48.7057        0         52
3      3100203               Abaeté -19.15510   -45.4444        0         31
4      1500107           Abaetetuba  -1.72183   -48.8788        0         15

Apos carregar os dados devemos associar as tabelas de estados e municípios e selecionar apenas os municípios do Amazonas

In [88]:
estados_df[estados_df.uf=='AM']

   codigo_uf  uf      nome
2         13  AM  Amazonas

In [89]:
municipiosAM_df = municipios_df[municipios_df.codigo_uf ==13]

In [90]:
municipiosAM_df.head()

     codigo_ibge      nome  latitude  longitude  capital  codigo_uf
170      1300029  Alvarães  -3.22727   -64.8007        0         13
195      1300060   Amaturá  -3.37455   -68.2005        0         13
216      1300086     Anamã  -3.56697   -61.3963        0         13
252      1300102     Anori  -3.74603   -61.6575        0         13
286      1300144      Apuí  -7.19409   -59.8960        0         13

In [91]:
municipiosAM_df.drop(['capital', 'codigo_uf'],axis=1, inplace=True)

In [92]:
municipiosAM_df.head()

     codigo_ibge      nome  latitude  longitude
170      1300029  Alvarães  -3.22727   -64.8007
195      1300060   Amaturá  -3.37455   -68.2005
216      1300086     Anamã  -3.56697   -61.3963
252      1300102     Anori  -3.74603   -61.6575
286      1300144      Apuí  -7.19409   -59.8960

Note que nos dados provenientes da tabela ***municipios.csv*** o nome dos municípios estão todos acentuados, no entanto na tabela amazonas os nomes estão sem acento. Logo é necessario remover os acentos dos nomes da tabela ***municipios.csv***.

In [93]:
from unicodedata import normalize
# use esta funçao para remover acentos
def remove_acentos_python3(txt):
    return str(normalize('NFKD', txt).encode('ASCII', 'ignore'), 'utf-8')
# ex
print(remove_acentos_python3("Olá!"))

Ola!

In [94]:
municipiosAM_df['nome'] = municipiosAM_df['nome'].apply(lambda nome: remove_acentos_python3(nome))

/Users/kizzyterra/Workspace/devtools/dataenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [95]:
municipiosAM_df.head()

     codigo_ibge      nome  latitude  longitude
170      1300029  Alvaraes  -3.22727   -64.8007
195      1300060   Amatura  -3.37455   -68.2005
216      1300086     Anama  -3.56697   -61.3963
252      1300102     Anori  -3.74603   -61.6575
286      1300144      Apui  -7.19409   -59.8960

Em seguida relacione as tabelas municipios e amazonas.

In [96]:
merged_df = pd.merge(amazonas2014_df, municipiosAM_df, how='left', left_on=['Municípios'], right_on=['nome'])

In [97]:
merged_df.head()

,Municípios,Agricultura Anual,Área não Observada,Área Urbana,Desflorestamento 2014,Floresta,Hidrografia,Mineração,Mosaico de Ocupações,Não Floresta,...,Pasto Limpo,Pasto Sujo,Reflorestamento,Regeneração com Pasto,Vegetação Secundária,Total Geral,codigo_ibge,nome,latitude,longitude
0,Alvaraes,NaN,0.07,1.90,2.75,"5,415.56",133.87,NaN,101.08,43.26,...,2.92,1.02,NaN,5.13,198.55,"5,911.46",1300029,Alvaraes,-3.22727,-64.8007
1,Amatura,NaN,NaN,2.05,0.36,"4,220.22",209.41,NaN,15.87,216.55,...,4.03,NaN,NaN,11.44,71.74,"4,755.42",1300060,Amatura,-3.37455,-68.2005
2,Anama,NaN,0.86,0.89,0.44,"2,001.85",229.30,NaN,6.90,34.81,...,2.02,0.87,NaN,NaN,160.61,"2,451.66",1300086,Anama,-3.56697,-61.3963
3,Anori,NaN,0.15,2.77,0.59,"4,646.53",436.07,NaN,17.12,636.01,...,8.05,0.52,NaN,NaN,41.98,"5,794.49",1300102,Anori,-3.74603,-61.6575
4,Apui,NaN,6.71,5.91,80.19,"51,396.43",213.50,NaN,8.76,622.87,...,812.61,329.85,NaN,208.13,546.18,"54,238.32",1300144,Apui,-7.19409,-59.8960

### Questão


Plote no mapa do Brasil indicadores  de desflorestamento para todos os municipios do amazonas.
Os indicadores devem ser relativos ao tamanho da floresta de cada município dando destaque aos municipios que com desflorestamento acima da média.

#### Dica

O desflorestamento relativo é dado pelas colunas ***Desflorestamento 2014*** / ***Floresta*** da tabela ***amazonas.csv***.
Note que a coluna ***Floresta*** não é numérica e contém ',' separando os milhares, sendo necessário remover a ',' de todas as entradas e logo após converter os valores para float.

Podem ser usadas todas as dicas relevantes sobre apresentação de figuras  nos textos *Making Data Meaningful* e *Ten Simple Rules for Better Figures*.

Para plotar sobre o mapa, pode-se usar a funções normais do matplotlib e ao fim chamar a função **mplleaflet.display()**.

## Verificando tipo das colunas:

In [98]:
merged_df['Desflorestamento 2014']

0       2.75
1       0.36
2       0.44
3       0.59
4      80.19
5       0.70
6       8.35
7       1.91
8       4.46
9       0.31
10      2.29
11      1.01
12     71.96
13      1.44
14      0.76
15     16.62
16      1.05
17      0.53
18      2.71
19      3.25
20      2.98
21      2.40
22      7.45
23      1.00
24      1.12
25     13.95
26      1.07
27      2.24
28      5.54
29      2.45
       ...
32      1.81
33      1.61
34    130.13
35      3.04
36      0.14
37      2.11
38     29.78
39      1.68
40     13.87
41      2.32
42      1.14
43      0.86
44     22.55
45      4.24
46      9.47
47      6.21
48      1.11
49      0.91
50      0.80
51      1.82
52      1.00
53      3.78
54      0.54
55      1.72
56      2.99
57      8.79
58      0.36
59      3.46
60      1.45
61      0.62
Name: Desflorestamento 2014, Length: 62, dtype: float64

In [99]:
merged_df['Floresta']

0        5,415.56
1        4,220.22
2        2,001.85
3        4,646.53
4       51,396.43
5       75,692.73
6        4,864.85
7      100,948.88
8        3,605.04
9        8,411.90
10      15,584.50
11       1,119.42
12      19,542.90
13      41,286.75
14       8,619.87
15      27,529.67
16      25,084.19
17       4,593.12
18         766.21
19      53,623.67
20      16,314.98
21      14,304.15
22       7,172.22
23      11,049.62
24       6,915.13
25      28,496.19
26      11,692.44
27       1,295.24
28       4,644.79
29      24,866.50
          ...
32      18,400.39
33      68,099.67
34      62,531.60
35       4,332.40
36       3,088.33
37       8,612.34
38      41,617.44
39      14,400.01
40      36,472.52
41      12,140.99
42       4,473.84
43      36,114.27
44      37,840.85
45       1,568.15
46      41,087.97
47      21,281.25
48       5,231.90
49      61,070.69
50      11,649.37
51     106,052.38
52      18,927.02
53       9,830.42
54       2,588.26
55       3,013.65
56      85,391.65
57      22,189.29
58       5,976.36
59       9,466.29
60      26,495.54
61         130.20
Name: Floresta, Length: 62, dtype: object

In [100]:
merged_df['Floresta'] = merged_df['Floresta'].apply(lambda x: float(x.replace(',','')))

In [101]:
merged_df['Floresta']

0       5415.56
1       4220.22
2       2001.85
3       4646.53
4      51396.43
5      75692.73
6       4864.85
7     100948.88
8       3605.04
9       8411.90
10     15584.50
11      1119.42
12     19542.90
13     41286.75
14      8619.87
15     27529.67
16     25084.19
17      4593.12
18       766.21
19     53623.67
20     16314.98
21     14304.15
22      7172.22
23     11049.62
24      6915.13
25     28496.19
26     11692.44
27      1295.24
28      4644.79
29     24866.50
        ...
32     18400.39
33     68099.67
34     62531.60
35      4332.40
36      3088.33
37      8612.34
38     41617.44
39     14400.01
40     36472.52
41     12140.99
42      4473.84
43     36114.27
44     37840.85
45      1568.15
46     41087.97
47     21281.25
48      5231.90
49     61070.69
50     11649.37
51    106052.38
52     18927.02
53      9830.42
54      2588.26
55      3013.65
56     85391.65
57     22189.29
58      5976.36
59      9466.29
60     26495.54
61       130.20
Name: Floresta, Length: 62, dtype: float64

## Visualizando Indicadores de Desflorestamento

In [102]:
#calcula as informações do desflorestamento

In [103]:
#codigo de plot
plt.figure(figsize=(8,8))

plt.plot([1], [1], 'o')

#transforma o plot em localizações no mapa
mplleaflet.display()

## Relação entre Mineração e Desmatamento (dados de 2014)

### Questão


Segundo os dados, a mineração nos municípios tem alguma relação com o desflorestamento acima da média?
Mostre suas conclusões por tabelas e plots no mapa.

In [104]:
#calcula as relaçoes entre desflorestamento e mineração

In [105]:
# conclusoes sobre mineração e desflorestamento

In [106]:
#codigo de plot
plt.figure(figsize=(8,8))



#transforma o plot em localizações no mapa
mplleaflet.display()